.panel1 {
  background-image: url('/img/panel1.jpg');
}

.panel2 {
  background-image: url('/img/panel2.jpg');
}

.panel3 {
  background-image: url('/img/panel3.jpg');
}

.panel4 {
  background-image: url('/img/panel4.jpg');
}
